extends layout

include _includes/sharedHTMLfunctions
block head
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js')
    link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css')
        
block content
    .row.page-header: .col-lg-12
            h1= pageHeader.title
    .row
        .col-xs-12.col-md-10
            .row
                .col-xs-12.col-sm-6
                    p.rating
                        +outputRating(location.rating)
                    p= location.address
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Giờ mở cửa
                        .panel-body
                            each time in location.openingTimes
                                p
                                    | #{time.days} : 
                                    if time.closed
                                        | closed
                                    else
                                        | #{time.opening} - #{time.closing}
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Menu
                        .panel-body
                            //- each facility in location.facilities
                            //-     span.label.label-warning
                            //-         span.glyphicon.glyphicon-ok
                            //-         | &nbsp;#{facility}
                            //-     | &nbsp;
                            // Menu picture
                            #main_area
                                // Slider
                                .row
                                    #slider.col-xs-12
                                        // Top part of the slider
                                        .row
                                            #carousel-bounding-box.col-sm-8
                                                #myCarousel.carousel.slide
                                                    // Carousel items
                                                    .carousel-inner
                                                        .active.item(data-slide-number='0')
                                                            img(src='http://file.vforum.vn/hinh/2018/02/hinh-cho-cuoi-deu-cho-de-thuong-12.jpg')
                                                        .item(data-slide-number='1')
                                                            img(src='https://thuthuattienich.com/wp-content/uploads/2017/06/anh-dai-dien-facebook-cho-meo-de-thuong-2.jpg')
                                                        .item(data-slide-number='2')
                                                            img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLVG4GEqNWzWLM8wpBTEWd8BNdRJJUYAM_LUUqYzeKISa2m-cklA')
                                                        .item(data-slide-number='3')
                                                            img(src='https://4.bp.blogspot.com/-h5M1asWhJO4/VZKMbIYVD8I/AAAAAAAAAeE/oOrZZLMXvg8/s1600/hinh-anh-nhung-chu-cho-de-thuong-1.jpg')
                                                        .item(data-slide-number='4')
                                                            img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpB7VvIBUe1gLk1WvydO6p8DXE4Pkb_QSzTdihyB8PpjF0YIB3')
                                                        .item(data-slide-number='5')
                                                            img(src='http://streaming1.danviet.vn/upload/1-2016/images/2016-03-17/1458201425-cho-2.jpg')
                                                    // Carousel nav
                                                    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                                                        span.glyphicon.glyphicon-chevron-left
                                                    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                                                        span.glyphicon.glyphicon-chevron-right
                                            #carousel-text.col-sm-4
                                            #slide-content(style='display: none;')
                                                #slide-content-0
                                                    h3 Stupid dog
                                                    p Price: 25000
                                                    p.sub-text
                                                        | October 24 2014 - 
                                                        a(href='#') Read more
                                                #slide-content-1
                                                    h3 Slider Two
                                                    p Lorem Ipsum Dolor
                                                    p.sub-text
                                                        | October 24 2014 - 
                                                        a(href='#') Read more
                                                #slide-content-2
                                                    h3 Slider Three
                                                    p Lorem Ipsum Dolor
                                                    p.sub-text
                                                        | October 24 2014 - 
                                                        a(href='#') Read more
                                                #slide-content-3
                                                    h3 Slider Four
                                                    p Lorem Ipsum Dolor
                                                    p.sub-text
                                                        | October 24 2014 - 
                                                        a(href='#') Read more
                                                #slide-content-4
                                                    h3 Slider Five
                                                    p Lorem Ipsum Dolor
                                                    p.sub-text
                                                        | October 24 2014 - 
                                                        a(href='#') Read more
                                                #slide-content-5
                                                    h3 Slider Six
                                                    p Lorem Ipsum Dolor
                                                    p.sub-text
                                                        | October 24 2014 - 
                                                        a(href='#') Read more
                                // /Slider
                                #slider-thumbs.row.hidden-xs
                                    // Bottom switcher of slider
                                    ul.hide-bullets
                                        li.col-sm-2
                                            a#carousel-selector-0.thumbnail
                                                img(src='http://file.vforum.vn/hinh/2018/02/hinh-cho-cuoi-deu-cho-de-thuong-12.jpg')
                                        li.col-sm-2
                                            a#carousel-selector-1.thumbnail
                                                img(src='https://thuthuattienich.com/wp-content/uploads/2017/06/anh-dai-dien-facebook-cho-meo-de-thuong-2.jpg')
                                        li.col-sm-2
                                            a#carousel-selector-2.thumbnail
                                                img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLVG4GEqNWzWLM8wpBTEWd8BNdRJJUYAM_LUUqYzeKISa2m-cklA')
                                        li.col-sm-2
                                            a#carousel-selector-3.thumbnail
                                                img(src='https://4.bp.blogspot.com/-h5M1asWhJO4/VZKMbIYVD8I/AAAAAAAAAeE/oOrZZLMXvg8/s1600/hinh-anh-nhung-chu-cho-de-thuong-1.jpg')
                                        li.col-sm-2
                                            a#carousel-selector-4.thumbnail
                                                img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpB7VvIBUe1gLk1WvydO6p8DXE4Pkb_QSzTdihyB8PpjF0YIB3')
                                        li.col-sm-2
                                            a#carousel-selector-5.thumbnail
                                                img(src='http://streaming1.danviet.vn/upload/1-2016/images/2016-03-17/1458201425-cho-2.jpg')
                .col-xs-12.col-sm-6.location-map
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Vị trí bản đồ
                        .panel-body
                            #map(style="height: 400px;")
                            #instructions

            .row
                .col-xs-12
                    .panel.panel-primary.review-panel
                        .panel-heading
                            a.btn.btn-default.pull-right(href="/location/" + location._id + "/review/new") Thêm review
                            h2.panel-title Review
                        .panel-body.review-container
                            each review in location.reviews
                                .row
                                    .review
                                        .well.well-sm.review-header
                                            span.rating
                                                +outputRating(review.rating)
                                            span.reviewAuthor #{review.author}
                                            small.reviewTimestamp
                                                +formatDate(review.createdOn)
                                        .col-xs-12
                                            p !{(review.reviewText).replace(/\n/g, '<br/>')}
        .col-xs-12.col-md-2
            p.lead #{sidebar.context}
            p= sidebar.callToAction
block script
    script(src="/javascripts/carousel.js")
    script.
        function getLocation(callback) {
            if (navigator.geolocation) {
                var lat_lng = navigator.geolocation.getCurrentPosition(function (position) {
                    var user_position = {};
                    user_position.lat = position.coords.latitude;
                    user_position.lng = position.coords.longitude;
                    callback(user_position);
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
        


        mapboxgl.accessToken = 'pk.eyJ1IjoidHJhZWg5OCIsImEiOiJjam1ldG02aWwxa2lkM2xueTZwbTZrcnV0In0.yq2V65aPuv5-ufol-3SC5w';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [!{location.coords.lng}, !{location.coords.lat}],
            zoom: 16
        });

        // this is where the code from the next step will go
        map.on('load', function () {
            getLocation(function (lat_lng) {
                console.log(lat_lng);
                var start = [lat_lng.lng, lat_lng.lat];
                var end = [!{location.coords.lng}, !{location.coords.lat}];
                var directionsRequest = 'https://api.mapbox.com/directions/v5/mapbox/cycling/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;
                $.ajax({
                    method: 'GET',
                    url: directionsRequest,
                }).done(function (data) {
                    var route = data.routes[0].geometry;

                    map.addLayer({
                        id: 'route',
                        type: 'line',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: route
                            }
                        },
                        paint: {
                            'line-width': 2
                        }
                    });

                    var startMarker = document.createElement('div');
                    var cafeMarker = document.createElement('div');
                    startMarker.className = 'start-marker';
                    cafeMarker.className = 'cafe-marker';
                    


                    new mapboxgl.Marker(startMarker)
                        .setLngLat(start)
                        .addTo(map);
                    new mapboxgl.Marker(cafeMarker)
                        .setLngLat(end)
                        .addTo(map);
                });
            });
        });