extends layout

include _includes/sharedHTMLfunctions
block head
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js')
    link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css')
        
block content
    .row.page-header: .col-lg-12
            h1= pageHeader.title
    .row
        .col-xs-12.col-md-10
            .row
                .col-xs-12.col-sm-6
                    p.rating
                        +outputRating(location.rating)
                    p= location.address
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Giờ mở cửa
                        .panel-body
                            each time in location.openingTimes
                                p
                                    | #{time.days} : 
                                    if time.closed
                                        | closed
                                    else
                                        | #{time.opening} - #{time.closing}
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Ảnh
                        .panel-body
                            //- each facility in location.facilities
                            //-     span.label.label-warning
                            //-         span.glyphicon.glyphicon-ok
                            //-         | &nbsp;#{facility}
                            //-     | &nbsp;
                            //- Menu picture
                            #main_area
                                //- Slider
                                .row
                                    #slider.col-xs-12
                                        //- Top part of the slider
                                        .row
                                            #carousel-bounding-box.col-sm-8
                                                #myCarousel.carousel.slide
                                                    //- Carousel items
                                                    .carousel-inner
                                                        +carouselInner(location.descriptions)
                                                    //- Carousel nav
                                                    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                                                        span.glyphicon.glyphicon-chevron-left
                                                    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                                                        span.glyphicon.glyphicon-chevron-right
                                            #carousel-text.col-sm-4
                                            #slide-content(style='display: none;')
                                                +carouselText(location.descriptions)
                                //- Slider
                                #slider-thumbs.row.hidden-xs
                                    //- Bottom switcher of slider
                                    ul.hide-bullets
                                        +carouselThumb(location.descriptions)
                .col-xs-12.col-sm-6.location-map
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Vị trí bản đồ
                                #reload.btn.btn-default.btn-sm(style="margin-left: 30px; color: red;")
                                    span.glyphicon.glyphicon-repeat
                                #fly-to-start.btn.btn-default.btn-sm(style="margin-left: 30px; color: red;")
                                    span.glyphicon.glyphicon-screenshot
                                #fly-to-end.btn.btn-default.btn-sm(style="margin-left: 30px; color: red;")
                                    span.glyphicon.glyphicon-send
                        .panel-body
                            #map(style="height: 400px;")
                            #instructions

            .row
                .col-xs-12
                    .panel.panel-primary.review-panel
                        .panel-heading
                            a.btn.btn-default.pull-right(href="/location/" + location._id + "/review/new") Thêm review
                            h2.panel-title Review
                        .panel-body.review-container
                            each review in location.reviews
                                .row
                                    .review
                                        .well.well-sm.review-header
                                            span.rating
                                                +outputRating(review.rating)
                                            span.reviewAuthor #{review.author}
                                            small.reviewTimestamp
                                                +formatDate(review.createdOn)
                                        .col-xs-12
                                            p !{(review.reviewText).replace(/\n/g, '<br/>')}
        .col-xs-12.col-md-2
            p.lead #{sidebar.context}
            p= sidebar.callToAction
block script
    script(src="/javascripts/carousel.js")
    script.
        //- this is the current user marker use in global
        var currentUserMarker;
        
        function getLocation(callback) {
            if (navigator.geolocation) {
                var lat_lng = navigator.geolocation.getCurrentPosition(function (position) {
                    var user_position = {};
                    user_position.lat = position.coords.latitude;
                    user_position.lng = position.coords.longitude;
                    callback(user_position);
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
        
        function createCafeMarker(listCoords) {
            console.log(listCoords);

            listCoords.forEach(function(item) {
                let cafeMarker = document.createElement('div');
                cafeMarker.className = 'cafe-marker';

                let popup = new mapboxgl.Popup({offset: 25})
                    .setHTML(`
                    <a style="color: red" href="/location/${item._id}">${item.name}</a>
                    </br>
                    <p style="color: black">Đánh Giá: ${item.rating} <span class="glyphicon glyphicon-star-empty"></span></p>
                    `)

                new mapboxgl.Marker(cafeMarker)
                    .setLngLat(item.coords)
                    .setPopup(popup)
                    .addTo(map);
            })
        }


        mapboxgl.accessToken = 'pk.eyJ1IjoidHJhZWg5OCIsImEiOiJjam1ldG02aWwxa2lkM2xueTZwbTZrcnV0In0.yq2V65aPuv5-ufol-3SC5w';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [!{location.coords.lng}, !{location.coords.lat}],
            zoom: 16
        });


        //- reload map
        document.getElementById('reload').addEventListener('click', function () {
            getLocation(function(lat_lng) {  
                console.log(lat_lng);
                var start = [lat_lng.lng, lat_lng.lat];
                var end = [!{location.coords.lng}, !{location.coords.lat}];
                var directionsRequest = 'https://api.mapbox.com/directions/v5/mapbox/cycling/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;
                $.ajax({
                    method: 'GET',
                    url: directionsRequest,
                }).done(function (data) {
                    var route = data.routes[0].geometry;

                    //- new user marker
                    currentUserMarker.setLngLat(lat_lng);

                    //- new direction route
                    map.getSource("route").setData({
                        type: 'Feature',
                        geometry: route
                    });
                    console.log("success");
                });
                
            });
        });



    
        //- create map when user load page
        map.on('load', function () {
            getLocation(function (lat_lng) {
                console.log(lat_lng);
                var start = [lat_lng.lng, lat_lng.lat];
                var end = [!{location.coords.lng}, !{location.coords.lat}];
                var directionsRequest = 'https://api.mapbox.com/directions/v5/mapbox/cycling/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;
                $.ajax({
                    method: 'GET',
                    url: directionsRequest,
                }).done(function (data) {
                    var route = data.routes[0].geometry;

                    map.addLayer({
                        id: 'route',
                        type: 'line',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: route
                            }
                        },
                        paint: {
                            'line-width': 2
                        }
                    });

                    var startMarker = document.createElement('div');
                    startMarker.className = 'start-marker';
                    
                    currentUserMarker = new mapboxgl.Marker(startMarker)
                        .setLngLat(start)
                        .addTo(map);

                    var listCoords = JSON.parse('!{JSON.stringify(location.listCoords)}');
                    createCafeMarker(listCoords);

                    document.getElementById('fly-to-start').addEventListener('click', function () {
                        map.flyTo({
                            center: start
                        });
                    });
                    document.getElementById('fly-to-end').addEventListener('click', function () {
                        map.flyTo({
                            center: end
                        });
                    });
                });
            });
        });

